.resources__logo-zone {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0px;
    padding: 80px 0px 0px 0px;
  }
  .resources__logo-zone a:hover{
    opacity: 0.5;
    transition: ease 0.5s;
  }