.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-title {
    margin: 0px;
    padding: 0px;
  }
  .section-subtitle {
   margin: 20px 0px 0px 0px;
  }

 