@import"./section-title/section-subtitle.css";
@import"./section-title/section-title.css";
@import "./cards/cards.css";
.techniques {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
  }